@model BookRoom.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deskcomment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deskcomment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicecomment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicecomment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
